body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-body-1: "Chakra Petch";

  /* font sizes */
  --body-body-1-size: 16px;
  --heading-heading-3-size: 40px;
  --button-button-1-size: 14px;
  --heading-heading-2-size: 48px;
  --font-size-19xl: 38px;
  --heading-heading-8-size: 20px;
  --heading-heading-1-size: 64px;

  /* Colors */
  --greyscale-black-100: #18181b;
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-gray-200: rgba(37, 37, 50, 0.6);
  --greyscale-white: #fff;
  --main-colors-linear: #0cbaf1;
  --greyscale-grey-2: #d1d1d1;

  /* Gaps */
  --gap-45xl: 64px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-14xl: 33px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-10xs: 3px;
  --padding-6xs: 7px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-12xs: 1px;
  --padding-19xl: 38px;
  --padding-12xl: 31px;
  --padding-18xl: 37px;
  --padding-9xs: 4px;
  --padding-base-7: 16.7px;
  --padding-lg: 18px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-36xl: 55px;
  --padding-45xl: 64px;
  --padding-65xl: 84px;
  --padding-46xl: 65px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-9xs: 4px;
}
