.logo-icon {
  height: 30px;
  width: 38px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vrnas-icon {
  height: 16px;
  width: 59px;
  position: relative;
}
.page-blog,
.v-r-nas-vector {
  display: flex;
  justify-content: flex-start;
}
.page-blog {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.v-r-nas-vector {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
}
.home {
  position: relative;
  line-height: 28px;
  font-weight: 300;
}
.about-us {
  white-space: nowrap;
}
.about-us,
.page,
.service {
  position: relative;
  line-height: 28px;
  font-weight: 300;
}
.expand-more-fill0-wght400-grad-icon {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.page-parent,
.title-badge {
  display: flex;
  justify-content: flex-start;
}
.title-badge {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.page-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.blog1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.expand-more-fill0-wght400-grad-icon1 {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.expand-more-fill0-wght400-grad-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.blog-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.contact-us,
.expand-more {
  font-size: var(--body-body-1-size);
  font-family: var(--body-body-1);
  color: var(--greyscale-white);
  text-align: left;
}
.expand-more {
  margin: 0;
  width: 517px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.contact-us {
  position: relative;
  line-height: 28px;
  font-weight: 300;
  white-space: nowrap;
}
.contact-us-text {
  cursor: pointer;
  border: 1px solid var(--main-colors-linear);
  padding: var(--padding-xs) 19px var(--padding-xs) var(--padding-4xl);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact-us-text:hover {
  background-color: rgba(0, 161, 214, 0.09);
  border: 1px solid #00a1d6;
  box-sizing: border-box;
}
.frame-home,
.header,
.header1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.header1 {
  width: 1200px;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-home,
.header {
  box-sizing: border-box;
}
.header {
  flex: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xl) var(--padding-xl) var(--padding-12xl) 22px;
}
.frame-home {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 16px;
  flex-shrink: 0;
}
.title-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.about-us1 {
  margin: 0;
  height: 83px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.about-us1,
.home1,
.icon {
  position: relative;
}
.home1 {
  flex: 1;
  font-weight: 600;
}
.icon {
  height: 18px;
  width: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.about-us2 {
  position: relative;
  line-height: 28px;
  font-weight: 300;
  color: var(--greyscale-grey-2);
}
.title2 {
  width: 102px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  z-index: 1;
  text-align: left;
  font-size: var(--body-body-1-size);
}
.bg-image-post-title-badge,
.title1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.title1 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 27px var(--padding-5xs) var(--padding-xl);
  position: relative;
  gap: 28px;
}
.bg-image-post-title-badge {
  width: 456px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.blog-frame {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--main-colors-linear);
  box-sizing: border-box;
}
.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 69px;
  max-width: 100%;
}
.bg,
.line-separator {
  box-sizing: border-box;
}
.line-separator {
  width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-12xl);
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--heading-heading-1-size);
  color: var(--greyscale-white);
  font-family: var(--body-body-1);
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.badge-base-text {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge,
.badge-base {
  display: flex;
  flex-direction: row;
}
.badge-base {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.badge-base-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg1,
.blog3 {
  box-sizing: border-box;
}
.blog3 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon1 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.text {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base1,
.badge1 {
  display: flex;
  flex-direction: row;
}
.badge-base1 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual1 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more1 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.read-more-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg2,
.blog4 {
  box-sizing: border-box;
}
.blog4 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon2 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.text1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base2,
.badge2 {
  display: flex;
  flex-direction: row;
}
.badge-base2 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual2 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more2 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.read-more-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg3,
.blog5 {
  box-sizing: border-box;
}
.blog5 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg3 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon3 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.text2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base3,
.badge3 {
  display: flex;
  flex-direction: row;
}
.badge-base3 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual3 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more3 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.read-more-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg4,
.blog6 {
  box-sizing: border-box;
}
.blog6 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon4 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.vr {
  font-weight: 500;
}
.text3 {
  position: relative;
  line-height: 20px;
}
.badge-base4,
.badge4 {
  display: flex;
  flex-direction: row;
}
.badge-base4 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge4 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual4 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more4 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg5,
.blog7 {
  box-sizing: border-box;
}
.blog7 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon5 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.text4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base5,
.badge5 {
  display: flex;
  flex-direction: row;
}
.badge-base5 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge5 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual5 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more5 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.read-more-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg6,
.blog8 {
  box-sizing: border-box;
}
.blog8 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon6 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.text5 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base6,
.badge6 {
  display: flex;
  flex-direction: row;
}
.badge-base6 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge6 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual6 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more6 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.read-more-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg7,
.blog9 {
  box-sizing: border-box;
}
.blog9 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg7 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon7 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.text6 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base7,
.badge7 {
  display: flex;
  flex-direction: row;
}
.badge-base7 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge7 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual7 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more7 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.read-more-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.bg8,
.blog10 {
  box-sizing: border-box;
}
.blog10 {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  position: relative;
  gap: var(--gap-lg);
  max-width: 100%;
}
.bg8 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greyscale-black-80);
  border: 1px solid var(--color-gray-100);
}
.image-icon8 {
  align-self: stretch;
  height: 252px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.text7 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge-base8,
.badge8 {
  display: flex;
  flex-direction: row;
}
.badge-base8 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  white-space: nowrap;
}
.badge8 {
  align-items: flex-start;
  justify-content: flex-start;
}
.entertainment-goes-virtual8 {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--heading-heading-9-size);
  text-align: left;
  display: inline-block;
}
.title11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  gap: var(--gap-xs);
  z-index: 1;
}
.read-more8 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.blog11,
.blog2,
.read-more-wrapper4 {
  display: flex;
  justify-content: flex-start;
}
.read-more-wrapper4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xl);
}
.blog11,
.blog2 {
  max-width: 100%;
}
.blog11 {
  width: 379px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-lg);
}
.blog2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-13xl);
  min-height: 1315px;
}
.read-more-button {
  position: relative;
}
.a {
  flex: 1;
  background-color: var(--color-gray-200);
  border: 0.7px solid var(--main-colors-linear);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.div {
  position: relative;
}
.a1 {
  flex: 0.5157;
  background-color: var(--color-gray-200);
  border: 0.7px solid var(--main-colors-linear);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 11px var(--padding-5xs) var(--padding-smi);
  opacity: 0.5;
}
.div1 {
  position: relative;
}
.a2,
.badge-base-text2,
.line {
  display: flex;
  flex-direction: row;
}
.a2 {
  flex: 0.5762;
  background-color: var(--color-gray-200);
  border: 0.7px solid var(--main-colors-linear);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 10px var(--padding-5xs) var(--padding-smi);
  opacity: 0.5;
}
.badge-base-text2,
.line {
  width: 134px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
}
.line {
  width: 1242px;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  min-height: 1499px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--caption-caption-2-size);
  color: var(--greyscale-white);
  font-family: var(--body-body-1);
}
.bg9 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background: linear-gradient(90deg, #0cbaf1, #e95ce9);
}
.subscribe-to-our {
  margin: 0;
  height: 116px;
  width: 520px;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 520px;
  max-width: 100%;
  z-index: 1;
}
.bg10 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.07);
}
.message-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.enter-your-email {
  width: calc(100% - 40px);
  border: 0;
  outline: 0;
  font-family: var(--body-body-1);
  font-size: var(--body-body-1-size);
  background-color: transparent;
  height: 28px;
  flex: 1;
  position: relative;
  line-height: 28px;
  color: var(--greyscale-white);
  text-align: left;
  display: inline-block;
  min-width: 109px;
}
.enter-your-email-address {
  width: 214px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.send-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.field {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.button {
  background-color: rgba(255, 255, 255, 0.21);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.666667938232422px 17px 16.666667938232422px 16.666667938232422px;
}
.field {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-10xs) var(--padding-9xs) var(--padding-9xs) 14px;
  position: relative;
  gap: var(--gap-xl);
}
.field-wrapper,
.subscribe-to-our-newsletter-fo {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.field-wrapper {
  width: 365px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6px;
}
.subscribe-to-our-newsletter-fo {
  width: 1200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 38px 74px var(--padding-12xl);
  position: relative;
  gap: var(--gap-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--heading-heading-3-size);
  color: var(--greyscale-white);
  font-family: var(--body-body-1);
}
.clip-path-group,
.image-33-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
}
.clip-path-group {
  width: 736px;
  right: 0;
  height: 353.2px;
  object-fit: contain;
  z-index: 1;
}
.image-33-icon {
  width: 1011px;
  height: 100%;
  bottom: 0;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.logo-icon1 {
  height: 30px;
  width: 38px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vrnas-icon1 {
  height: 16px;
  width: 59px;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.icon1,
.icon2,
.icon3,
.icon4 {
  height: 46px;
  width: 46px;
  position: relative;
  min-height: 46px;
}
.menuquicklinks,
.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social {
  flex-direction: row;
  gap: var(--gap-xl);
}
.menuquicklinks {
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 139px;
}
.quicklinks1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.blog12,
.home2,
.our-team,
.pricing-plan,
.service1 {
  position: relative;
  line-height: 28px;
  font-weight: 300;
}
.quicklinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.support1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.about-us3,
.contact-us1,
.faq,
.privacy-policy,
.tems-conditions {
  position: relative;
  line-height: 28px;
  font-weight: 300;
}
.support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 135.55555555555475px;
}
.need-help1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.location-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tanjung-sari-street {
  position: relative;
  line-height: 28px;
  font-weight: 300;
}
.location {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.message1 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.supportvrnascom {
  position: relative;
  line-height: 28px;
  font-weight: 300;
  white-space: nowrap;
}
.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.calling-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div2 {
  position: relative;
  line-height: 28px;
  font-weight: 300;
  white-space: nowrap;
}
.calling,
.need-help2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.need-help2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.need-help,
.servicelink {
  flex: 1;
  justify-content: flex-start;
}
.need-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 207px;
}
.servicelink {
  gap: 82px;
  min-width: 349px;
}
.footer3,
.menu,
.servicelink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.menu {
  width: 771px;
  justify-content: flex-start;
  gap: 145px;
}
.footer3 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.copyrighttext {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--main-colors-linear);
  box-sizing: border-box;
}
.copyright-2023-all {
  position: relative;
  line-height: 28px;
  font-weight: 300;
}
.footer2,
.menuframe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menuframe {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-13xl);
}
.footer2 {
  width: 1221px;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-xl);
  gap: 33px;
  z-index: 1;
}
.footer,
.footer1,
.footer2 {
  box-sizing: border-box;
  max-width: 100%;
}
.footer1 {
  width: 1342px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-21xl) var(--padding-xl) var(--padding-21xl) 0;
  position: relative;
  min-height: 498px;
}
.footer {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-10xs) 0 var(--padding-6xs);
}
.blog,
.footer,
.subscribeframe {
  display: flex;
  justify-content: flex-start;
}
.subscribeframe {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--body-body-1-size);
  color: var(--greyscale-white);
  font-family: var(--body-body-1);
}
.blog {
  width: 100%;
  position: relative;
  background-color: var(--greyscale-black-100);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-45xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1250px) {
  .title {
    gap: 34px;
  }
  .subscribe-to-our {
    flex: 1;
  }
  .subscribe-to-our-newsletter-fo {
    flex-wrap: wrap;
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 1050px) {
  .footer3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .expand-more {
    display: none;
    gap: var(--gap-13xl);
  }
  .header1 {
    width: 683px;
  }
  .about-us1 {
    font-size: 51px;
  }
  .title {
    gap: 17px;
  }
  .blog2 {
    gap: var(--gap-base);
  }
  .line {
    gap: var(--gap-13xl);
  }
  .subscribe-to-our {
    font-size: 32px;
    line-height: 46px;
    min-width: 100%;
  }
  .support {
    flex: 1;
  }
  .menu,
  .servicelink {
    flex-wrap: wrap;
    gap: 41px;
  }
  .menu {
    gap: 72px;
  }
  .footer2,
  .menuframe {
    gap: var(--gap-base);
  }
  .blog {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .expand-more {
    gap: var(--gap-base);
  }
  .about-us1 {
    font-size: 38px;
  }
  .line {
    gap: var(--gap-base);
  }
  .subscribe-to-our {
    font-size: 24px;
    line-height: 35px;
  }
  .field {
    flex-wrap: wrap;
  }
  .servicelink {
    gap: var(--gap-xl);
    min-width: 100%;
  }
  .menu {
    gap: 36px;
  }
  .footer1 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .blog {
    gap: var(--gap-base);
  }
}
