body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-body-1: "Chakra Petch";

  /* font sizes */
  --body-body-1-size: 16px;
  --heading-heading-3-size: 40px;
  --body-body-4-size: 12px;
  --heading-heading-2-size: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --button-button-1-size: 14px;
  --heading-heading-9-size: 18px;
  --heading-heading-7-size: 20px;
  --heading-heading-1-size: 64px;

  /* Colors */
  --greyscale-black-80: #252532;
  --greyscale-black-100: #18181b;
  --color-gray-100: rgba(37, 37, 50, 0.6);
  --color-gray-200: rgba(255, 255, 255, 0.3);
  --greyscale-white: #fff;
  --main-colors-linear: #0cbaf1;
  --color-deepskyblue-100: #00a1d6;
  --greyscale-grey-2: #d1d1d1;
  --greyscale-grey-1: #b0b0b2;

  /* Gaps */
  --gap-45xl: 64px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-6xl: 25px;
  --gap-9xl: 28px;
  --gap-xs: 12px;
  --gap-21xl: 40px;
  --gap-12xs: 1px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-10xs: 3px;
  --padding-6xs: 7px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-12xs: 1px;
  --padding-19xl: 38px;
  --padding-12xl: 31px;
  --padding-18xl: 37px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-sm: 14px;
  --padding-base-7: 16.7px;
  --padding-4xl: 23px;
  --padding-15xl: 34px;
  --padding-34xl: 53px;
  --padding-30xl: 49px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-smi: 13px;
  --padding-13xl: 32px;
  --padding-40xl: 59px;
  --padding-9xl: 28px;
  --padding-3xl: 22px;
  --padding-5xs: 8px;
  --padding-6xl: 25px;
  --padding-20xl: 39px;
  --padding-37xl: 56px;
  --padding-xs: 12px;
}
